
{% extends "index.html" %}


{% block right_content %}
    <ol class="breadcrumb">
        <li class="active">Home</li>
    </ol>
    <h1>
        SuperAdmin
    </h1>
    {% for app_name,model_names in site.init_admin_dict.items %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{ app_name }}</th>
                </tr>
            </thead>
            <tbody>
                {% for model_name in model_names %}
                    <tr>
                        
                        <td><a href="{% url 'show_model_table' app_name model_name %}">{{ model_name }}</a></td>
                        
                        <!-- <td><a href="#">{{ model_name }}</a></td> -->
                        
                        <td><a class="">➕</a>  <a href="" class="glyphicon glyphicon-pencil"></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endfor %}
{% endblock right_content %}